<%# app/views/products/_form.html.erb %>
<%= form_with(model: product, local: true, data: { turbo: false }) do |form| %>
  <% if product.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h1 class="mb-4"> <%= product.persisted? ? 'Edit Product' : 'New Product' %> </h1>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  

  <div class="form-group">
    <%= form.label :description %>
    <%= form.rich_text_area :description, class: 'form-control', rows: 6 %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, class: 'form-control', accept: 'image/*' %>
  </div>


  <div class="text-center mt-4">
    <%= form.submit product.persisted? ? 'Update Product' : 'Create Product', class: 'btn btn-primary px-5 py-2' %>
    <%= link_to 'Cancel', products_path, class: 'btn btn-outline-secondary px-5 py-2 ms-2' %>
  </div>
<% end %> 