<%# app/views/products/show.html.erb %>
<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h1><%= @product.name %></h1>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p><strong>Category:</strong> <%= @product.category.name %></p>
          <p><strong>Part Diameter:</strong> <%= @product.part_dia %> mm</p>
          <p><strong>Part Length:</strong> <%= @product.part_length %> mm</p>
          <p><strong>Grade:</strong> <%= @product.grade %></p>
          <p><strong>Description:</strong> <%= @product.description %></p>
          <% if @product.image.attached? %>
            <p><strong>Image:</strong></p>
            <%= image_tag @product.image, class: 'img-fluid' %>
          <% end %>
          <% if @product.overstock.present? %>
            <p><strong>Overstock:</strong> <%= @product.overstock %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-warning' %>
      <%= link_to 'Back', products_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div> 